body{
    margin:0;
} 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 30%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 74%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
  #ctrl{
    float: left;
    margin-top:65%;
    margin-right: 60%;
    left:0;
    height:100%;
  }
  .col-s-5{
    width:40%;
    right: 70%;
  }
  .col-s-12{
    width:100%;
    margin-left: 5%;
  }
  }
#svg{
  float: left;
     height:200%; 
      padding-left:0px;
        padding-top:0%;
}  
svg{
    width:"100%";
     height:"100%";
}
label{
  color:blue;
}
input{
  margin-top:5%;
}
.ceil{
  stroke:black; 
  stroke-width:1px;
   fill:url(#raid1);
}
#stop1{
  stop-color:rgb(255,255,255);
  stop-opacity:0;
}
#stop2{
  stop-color:rgb(110, 250, 250) ;
  stop-opacity:0;
}
#image{
  transform: translate(0.5%, 7.7%) scale(1.7,1.5);
  -moz-transform: translate(0.5%, 7.7%) scale(1.7,1.5);
  -ms-transform:  translate(0.5%, 7.7%) scale(1.7,1.5);
  -o-transform:  translate(0.5%, 7.7%) scale(1.7,1.5);
  -webkit-transform:  translate(0.5%, 7.7%) scale(1.7,1.5);
}
#image1{
  transform: translate(7.25%, 16.7%) scale(1.7,1.5);
  -moz-transform:translate(7.25%, 16.7%) scale(1.7,1.5); 
  -ms-transform:translate(7.25%, 16.7%) scale(1.7,1.5);
  -o-transform: translate(7.25%, 16.7%) scale(1.7,1.5); 
  -webkit-transform: translate(7.25%, 16.7%) scale(1.7,1.5);
}
#image2{
  transform: translate(18.55%, 22.4%) scale(1.7,1.5);
  -moz-transform: translate(18.55%, 22.4%) scale(1.7,1.5);
  -ms-transform:translate(18.55%, 22.4%) scale(1.7,1.5);
  -o-transform:  translate(18.55%, 22.4%) scale(1.7,1.5);
  -webkit-transform:translate(18.55%, 22.4%) scale(1.7,1.5);
}
#image3{
  transform: translate(33.75%, 23.45%) scale(1.7,1.5);
  -moz-transform: translate(33.75%, 23.45%) scale(1.7,1.5); 
  -ms-transform: translate(33.75%, 23.45%) scale(1.7,1.5);
  -o-transform:   translate(33.75%, 23.45%) scale(1.7,1.5);
  -webkit-transform: translate(33.75%, 23.45%) scale(1.7,1.5);
}
#image4{
  transform: translate(49.6%, 24.5%) scale(1.7,1.5);
  -moz-transform:  translate(49.6%, 24.5%) scale(1.7,1.5);
  -ms-transform: translate(49.6%, 24.5%) scale(1.7,1.5);
  -o-transform: translate(49.6%, 24.5%) scale(1.7,1.5);  
  -webkit-transform: translate(49.6%, 24.5%) scale(1.7,1.5);
}
#image5{
  transform: translate(68.9%, 19.7%) scale(1.7,1.5);
  -moz-transform: translate(68.9%, 19.7%) scale(1.7,1.5); 
  -ms-transform: translate(68.9%, 19.7%) scale(1.7,1.5);
  -o-transform: translate(68.9%, 19.7%) scale(1.7,1.5);  
  -webkit-transform: translate(68.9%, 19.7%) scale(1.7,1.5);
}
#image6{
  transform: translate(78.7%, 12%) scale(1.7,1.5);
  -moz-transform: translate(78.7%, 12%) scale(1.7,1.5); 
  -ms-transform: translate(78.7%, 12%) scale(1.7,1.5);
  -o-transform:  translate(78.7%, 12%) scale(1.7,1.5);
  -webkit-transform: translate(78.7%, 12%) scale(1.7,1.5);
}
.img{
  opacity:0;
}
#image7{
  transform:translate(38%, 36.6%) scale(0.9,0.5) skewX(40deg);
  -moz-transform: translate(38%, 36.6%) scale(0.9,0.5) skewX(40deg);
  -ms-transform:translate(38%, 36.6%) scale(0.9,0.5) skewX(40deg);
  -o-transform:translate(38%, 36.6%) scale(0.9,0.5) skewX(40deg);  
  -webkit-transform:translate(38%, 36.6%) scale(0.9,0.5) skewX(40deg);
  opacity:0;
}
#hometab{
  cursor:pointer;
  display:none;
}
#curtain1{
  height:90px;
  fill:rgb(107, 107, 248); 
  opacity:0.95;
  transition-duration: 0.5s;
  -o-transition-duration:0.5s ;
  -moz-transition-duration:0.5s ;
  -webkit-transition-duration: 0.5s;
}
#curtain3{
 display:none; 
width:300px;
 height:200px; 
 background-color:rgb(107, 107, 248); 
  opacity:0.95;
  transition-duration: 0.5s;
  -o-transition-duration:0.5s ;
  -moz-transition-duration:0.5s ;
  -webkit-transition-duration: 0.5s;
}
#curtain2{
  height:65px;
  fill:#6b6bf8 ;
  opacity:0.95;
  transition-duration: 0.5s;
  -o-transition-duration:0.5s ;
  -moz-transition-duration:0.5s ;
  -webkit-transition-duration: 0.5s;
}
#curtain4{
 width:180px;
  height:210px; 
  background-color:rgb(107, 107, 248); 
   opacity:0.95;
   transition-duration: 0.5s;
   -o-transition-duration:0.5s ;
   -moz-transition-duration:0.5s ;
   -webkit-transition-duration: 0.5s;
 }
#sound{
stroke-width:1px;
stroke:blue;
fill:none;
}
.one , .two , .three{
  opacity:0 ;
}
.fillStyle, ellipse{
  stroke:black;
   stroke-width:1px;
   fill:none;
}
.btn{
  margin-top:30%;
}
#ctrl{
  position: absolute;
  float: right;
  top:5%;
  right:1%;
  padding-right:10px;
  height:100%;
  
}
#lvR{
  cursor:pointer;
}
#lR3d{
  transform: translate(32%,7%);
  -moz-transform:translate(32%,7%);
  -ms-transform:translate(32%,7%);
  -o-transform:translate(32%,7%);
  -webkit-transform:translate(32%,7%);

}
#acOff1,#ACOn{
  cursor:pointer;
  transform: translate(40%,6%);
  -moz-transform:translate(40%,6%);
  -ms-transform:translate(40%,6%);
  -o-transform:translate(40%,6%);
  -webkit-transform:translate(40%,6%); 
}
#ACOn{
  display:none;
}
#TVOff,#TVOn{
  cursor:pointer;
  transform: translate(65%,8%); 
  -moz-transform: translate(65%,8%);
  -ms-transform: translate(65%,8%);
  -o-transform: translate(65%,8%);
  -webkit-transform: translate(65%,8%);
}
#speaker1,#speakerOn1{
  transform: translate(52.8%,13.4%) rotateX(71deg) rotate(-5deg);
  -moz-transform:translate(52.8%,13.4%) rotateX(71deg) rotate(-5deg);
  -ms-transform:translate(52.8%,13.4%) rotateX(71deg) rotate(-5deg);
  -o-transform:translate(52.8%,13.4%) rotateX(71deg) rotate(-5deg);
  -webkit-transform:translate(52.8%,13.4%) rotateX(71deg) rotate(-5deg);
}
#speaker2,#speakerOn2{
  transform: translate(80.6%,12.8%) rotateX(71deg) rotateZ(6deg);
  -moz-transform: translate(80.6%,12.8%) rotateX(71deg) rotateZ(6deg);
  -ms-transform: translate(80.6%,12.8%) rotateX(71deg) rotateZ(6deg);
  -o-transform: translate(80.6%,12.8%) rotateX(71deg) rotateZ(6deg);
  -webkit-transform: translate(80.6%,12.8%) rotateX(71deg) rotateZ(6deg);
}
#curtainOff,#curtainOn{
  cursor:pointer;
  transform: translate(33%,37%) rotateZ(270deg) rotateX(-60deg);
  -moz-transform: translate(33%,37%) rotateZ(270deg) rotateX(-60deg);
  -ms-transform: translate(33%,37%) rotateZ(270deg) rotateX(-60deg);
  -o-transform: translate(33%,37%) rotateZ(270deg) rotateX(-60deg);
  -webkit-transform: translate(33%,37%) rotateZ(270deg) rotateX(-60deg);
}
#ceilOFF,#ceilON{
  cursor:pointer;
  transform: translate(58%,27%) rotateX(30deg);
  -moz-transform: translate(58%,27%) rotateX(30deg);
  -ms-transform: translate(58%,27%) rotateX(30deg);
  -o-transform: translate(58%,27%) rotateX(30deg);
  -webkit-transform: translate(58%,27%) rotateX(30deg);
}
#TVOn{
  display:none;
}
#speakerOn1,#speakerOn2{
  display:none;
}
#dyfocurtain,#aircontrol,#volumecontrol,#dyfolights{
  display:none;
  transform: translate(42%,58%) scale(4);
  -moz-transform: translate(42%,58%) scale(4);
  -ms-transform: translate(42%,58%) scale(4);
  -o-transform: translate(42%,58%) scale(4);
  -webkit-transform: translate(42%,58%) scale(4);
}
#curtainOn{
  display:none;
}
#ceilON{
  display:none;
}
#devices{
  transform: translate(68%,82%) scale(6);
  -moz-transform: translate(68%,82%) scale(6); 
  -ms-transform:  translate(68%,82%) scale(6);
  -o-transform:  translate(68%,82%) scale(6);
  -webkit-transform: translate(68%,82%) scale(6);  
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 145px;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: 0px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 14px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: #434343;
      box-shadow: -80px 0 0 80px #43e5f7;
    }

}
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}
#alert {
  position: absolute;
  margin-top:16%;
  margin-left:10%;
  padding: 18px;
  width:60%;
  color:blue;
}
#alert>marquee{
  font-size:230%;
}

#closebtn>button {
  background-color: #43e5f7;
  width:60px;
  border:none;
  font-size: 20px;
  padding:6px;
  margin-top:20px;
  margin-left:-30px;
  float: right;
  display:none;
  cursor: pointer;
  transition: 0.3s;
  height: 35px;
}